<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <h3 class="mb-3 mb-md-0" style="color: aliceblue;">&copy; 2024 LingGrani</h3>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a href="https://www.discord.com"><img src="image/discord.svg" alt="discord" width="50" height="50"></a></li>
      <li class="ms-3"><a href="https://www.tiktok.com"><img src="image/tiktok.svg" alt="tiktok" width="50" height="50"></a></li>
      <li class="ms-3"><a href="https://www.youtube.com"><img src="image/youtube.svg" alt="youtube" width="50" height="50"></a></li>
    </ul>
  </footer>
</div>