@import url(variables.css);

.login-container{
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--primary) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form{
  padding: 30px;
  position:relative;
  margin-bottom: 30px;
  color: #3498db;  /* Warna biru */
}

.btn-primary{
  width: 200px;
}

button, img, .btn, .btn-primary{
  display: block;
  margin: 0 auto;
}

.login-form > *:not(button, img){
  text-align: left;
}
